{% extends 'base.html' %}

{% block content %}

<h2> You searched for...{{ searched }}</h2>
<br>
{% for post in posts %}

<div class="box"
             style="padding:10px; border: 2px solid blue; width:250px; height:130px; margin:25px; text-align:center;border-radius: 50px 20px;">
    <a href="{{ url_for('categories', category_id=post.id)}}" style="text-decoration: none">
        <h5>Category ID:{{ post.category_id }}</h5>
        <h5>Title:{{ post.title }}</h5>
        <h5> Description:{{ post.description }} </h5>
        <br>
    </a>
</div>


{% endfor %}

{% endblock %}